.card-controller {
  width: 100%;
  min-height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-container {
  margin-top: 50px;
  max-width: 1200px;
  min-width: 854px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .card-container-animated-box {
    width: 30%;
    padding: 5px; }

.card {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s; }
  .card-title {
    text-align: center;
    color: #333;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10px;
    top: -10px;
    left: 50%;
    font-size: 1.9em;
    font-weight: 800;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 5px 15px;
    opacity: 0;
    transition: all 0.3s; }
  .card-img {
    height: 100%;
    min-width: auto; }
  .card-cda {
    color: #333;
    position: absolute;
    z-index: 50px;
    top: 100%;
    left: 10px;
    background: white;
    border-radius: 5px;
    width: 100%;
    padding: 2px 20px;
    font-size: 1.3em;
    opacity: 0;
    transition: all 0.4s; }
  .card:hover {
    transform: scale(1.06);
    z-index: 100;
    box-shadow: 1px 3px 16px -1px rgba(0, 0, 0, 0.53); }
  .card:hover .card-cda {
    top: 90%;
    opacity: 1; }
  .card:hover .card-title {
    top: 30px;
    opacity: 1; }
