.card-controller {
  width: 100%;
  min-height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.card-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card {
  position: relative;
  border: 1px solid black;
  height: 400px;
  width: 30%;
  overflow: hidden;
  margin: 5px;
  transition: all 0.3s; }
  .card-title {
    color: white;
    position: absolute;
    z-index: 10px;
    top: 10px;
    left: 10px;
    font-size: 1.6em;
    font-weight: 800;
    background-color: grey;
    padding: 5px; }
  .card-img {
    height: 100%;
    min-width: auto; }
  .card-cda {
    color: white;
    position: absolute;
    z-index: 50px;
    top: 90%;
    left: 10px;
    background: grey;
    width: 100%;
    padding: 2px 12px; }
  .card:hover {
    transform: scale(1.04);
    z-index: 100; }
