.card-controller {
  position: absolute;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin: 50px 0;
  max-width: 1200px;
  min-width: 854px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-animated-box {
    width: 30%;
    padding: 10px 10px 0 10px;
  }
}
