.card-controller {
  width: 100%;
  min-height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-top: 50px;
  max-width: 1200px;
  min-width: 854px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-animated-box {
    width: 30%;
    padding: 5px;
  }
}
