.card-controller {
  width: 100%;
  min-height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  max-width: 1200px;
  min-width: 854px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
