header {
  background-color: #24252a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 15%;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
.nav-logo {
  cursor: pointer;
  margin-right: auto;
  &-link {
    font-size: 2em;
    &:hover {
      color: rgba(0, 136, 169, 1);
    }
  }
}

.nav-links {
  list-style: none;
  li {
    display: inline;
    padding: 0 20px;
    a {
      font-size: 1.2em;
      transition: all 0.3s ease 0s;
      &:hover {
        color: #0088a9;
      }
    }
  }

  &-button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: rgba(0, 136, 169, 0.8);
    }
  }
}
